@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.text {
    display: flex;
    padding: 15px;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
    font-size: 30px;
    word-wrap: break-word;
    white-space: pre-wrap;
    &_edit {
        width: 100%;
    }
}
textarea {
    background: transparent;
    width: 96%;
    min-height: 100px;
    outline: 1px solid rgb(208, 208, 208);
    border: none;
    font-size: 30px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}